body{
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 100px;
    height: 60px;
}

.header h3{
   color: #F9FAF8; 
   font-size: 24px;
}

li > a, hero-secondary{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.headshot{
    height: 250px;
    width: auto;
}

.first-quarter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 100px;
}

.second-quarter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.third-quarter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #E5E7EB;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:50px;
    min-width: 600px;
    max-width: 600px;
    flex-wrap: wrap;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    
}

.quote > h3{
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.quote > p{
    padding: 0;
    margin: 0;
}

.images{
    display: flex;
    justify-content: center;
    padding: 0px 80px 70px 80px;
}

.blurb{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 450px;
}

.blurb-text{
    color: #E5E7EB;
    font-size: 18px;
    margin: 8px;
}

button{
    box-sizing: border-box;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    margin: 8px;
    height: 45px;
    border-radius: 10px;
    padding: 5px 25px;
    border-style: none;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    margin: 8px;
}

h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    
}

.image > img{
    width: 150px;
    height: auto;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    
}

.image{
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    background-size: 160px 160px;
    background-position: center; 
}

.image1{
    background-image: url("https://images.pexels.com/photos/12000236/pexels-photo-12000236.jpeg");
}

.image2{
    background-image: url("https://images.pexels.com/photos/2551452/pexels-photo-2551452.jpeg");
}

.image3{
    background-image: url("https://images.pexels.com/photos/4271169/pexels-photo-4271169.jpeg");
}

.image4{
    background-image: url("https://images.pexels.com/photos/6124026/pexels-photo-6124026.jpeg");
}

.image-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:154px;
    max-width: 154px;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}